* {
  box-sizing: border-box;
}
body {
  background: #f6f6f6;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.strikethrough {
  text-decoration: line-through;
}
.teste {
  display: flex;
}
.editTaskInput {
  width: 85%;
}
.addTaskInput {
  width: 100%;
}
#root {
  display: flex;
  justify-content: center;
}
h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}
button {
  width: 50%;
}
